<mat-toolbar class="header mat-elevation-z2">
    <span>
        <img class="logo" src="assets/img/horizontal_on_white_by_logaster.png" alt="logo">
    </span>  
    <span>
        <a routerLink="/" class="mat-menu-item">Início</a>
        <a routerLink="/meus-produtos" class="mat-menu-item">Meus Produtos</a>
    </span>
    <span class="example-spacer"></span>
    <span>
        <img class="profile" src="assets/img/perfil.png" alt="profile">
    </span>
    <span class="name">
        <h2>Pedro Israel</h2>
    </span>    
</mat-toolbar>