.footer {
    background-color: #F4F4F4;
    position: fixed;
    bottom: 0;

    .development {
        margin: 40px 40px 30px 0;
        line-height: 1;
    }
    
    .copyright {
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
    }

    .powered {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 0.9rem;
        padding-bottom:0;
    }
}