<div class="basic-container">
    <h1>Meus Produtos.</h1>
    <mat-divider></mat-divider>
    <mat-grid-list git --version>
        <mat-grid-tile class="products">
            <mat-card>
                <mat-card-content>
                    <img mat-card-image src="/assets/img/macbook_01.jpeg">
                    <h1>MacBook Pro 2021 16"</h1>
                    <p>MacBook Pro com a melhor tecnologia do mercado, trazendo muita inovação e velocidade.</p>
                    <p class="price">R$ 17.499,00</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>