/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/uje1gog.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,500,700,900");

html, body { height: auto; }
body { margin: 0; font-family: proxima-nova, sans-serif; background-color: #F4F4F4; }

.basic-container {
  padding: 20px 0 50px 40px;
  
  h1 {
      font-weight: bold;
      font-style: normal;
      letter-spacing: 1px;
      color: #1F1F1F;
  }

  .mat-divider {
      width: 95%;
  }
}

.example-spacer {
    flex: 1 1 auto;
  }


